<template>
    <div class="slds-p-around_medium" style="margin:0;width:100%;">
        <!--Buttons to expand and collapse the data on one click-->
        <div class="slds-m-bottom_small">
            <lightning-button label="Collapse All" onclick={clickToCollapseAll}> </lightning-button>
            <lightning-button label="Expand All" onclick={clickToExpandAll}>  </lightning-button>
        </div>

        <!--Tree grid to show all the record from Parent record-->
        <div class="slds-scrollable" style="height:150px;" >
            <lightning-tree-grid columns = {gridColumns}
                                data = {gridData}
                                key-field = "Id"
                                hide-checkbox-column = true
                                onrowaction={handleRowAction}>
            </lightning-tree-grid>
        </div>
    </div> 
</template>